/inst/Documentation/theoryBT.toc
/inst/Documentation/theoryBT.aux
/inst/Documentation/theoryBT.fdb_latexmk
/inst/Documentation/theoryBT.log
/inst/Documentation/theoryBT.fls
/inst/Documentation/theoryBT.out
/vignettes/overview.aux
/vignettes/overview.log
/src/FCT_buyseTest.o
/src/BuyseTest.dll
/src/RcppExports.o
